# The golden corpus is operator-local by design. Book files AND their
# rendered `.ref.md` references stay gitignored — a reference is the
# extracted text of the book and carries the same copyright. Only
# `manifest.json` (fixture metadata: names, formats, thresholds) and
# this file are committed. See ../README.md.
*
!.gitignore
!manifest.json
